.header{
    align-items: center;
    display: flex;
    justify-content: space-between;
    
}
.header__logo{
    padding: 2rem 3rem;
}
.header__nav{
    font-family: var(--font-primary);
    list-style: none;
    display: flex;
    gap: 2rem;
    padding: 2rem 3rem;
}