.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1rem 2rem;
    &__iniciales{
        color: $text-color-gold;
        font-weight: $font-weight-bold;
        font-size: 28px;
        cursor:default;
    }
    &__nav{
        display: flex;
        list-style: none;
        gap: 2rem;
        & a:hover{
            transition: color ease 0.3s;
            color: $text-color-gold;
            font-weight: $font-weight-bold;
        }
    }
    &__icons{
        display: flex;
        align-items: center;
        gap: 1rem;
        &_theme{
            border-radius: 1000px;
            border: none;
            cursor: pointer;
            position: relative;
            background-color: $secundary-background-dark-blue;
            display: flex;
            padding: 0.5rem 0.5rem 0;
            gap: 2rem;
            &::after{
                content: "";
                border: 1px solid $secundary-background-dark-blue2;
                border-radius: 100px;
                display: block;
                position: absolute;
                background: $secundary-color-white;
                width: 60%;
                height: 94%;
                top: 0;
                left: 0;
                right: unset;
            }
            &.active{
                background: $secundary-background-gold;
                padding: 0 0.5rem 0;
                &::after{
                    border-color: $secundary-background-gold2;
                    right: 0;
                    left: unset;
                }
            }
        }
    }
    &__menu{
        display: none;
    }
}
#menu-toggle{
    display: none;
}
#menu-toggle:checked ~ .header__contain {
    background-color: $primary-background-bold-green;
    display: block;
    position: absolute;
    top: 4rem;
    left: 0;
    right: 0;
    text-align: center;
}
#menu-toggle:checked ~ .header__contain  .header__nav{
    flex-direction: column;
}
@media (max-width:768px) {
    .header{
        padding: 1rem 0;
        &__contain{
            display: none;
        }
        &__icons{
            gap: 0.5rem;
            &_theme{
                padding: 0;
            }
            img{
                width: 2rem;
            }
        }
        &__menu{
            display: flex;
        }
    }
}