/* FONTS */
$font-primary: 'Poppins', sans-serif;
$font-size: 16px;
$font-weight-regular: 400;
$font-weight-semibold: 600;
$font-weight-bold: 700;

/* COLORS */
$primary-background-green: #1CA334;
$secundary-background-dark-blue:#252850;
$secundary-background-dark-blue2:#1c1f3e;
$primary-background-bold-green:#006414;
$primary-background-bold-green2:#075713;
$primary-background-portafolio1: #1CA334; 
$primary-background-portafolio2: #419240; 
$primary-background-portafolio3: #076713; 

$secundary-background-gold: #dba629;
$secundary-background-gold2: #ce9818;
$secundary-color-white:#e8d7cf;
$secundary-color-light-green: #61B25D;

$text-color-white:#FFFFFF;
$text-color-white2 :#E5D3DF;
$text-color-gold: #EDC700;